nav {
  color: #1ca7f7 !important;
}
.broda {
  background-color: #1ca7f7;
}
body {
  font-family: "Open Sans", sans-serif !important;
}
.light{
  color: lightslategray;
}
.dingo {
  background-color: red;
  color: white;
}
.postDesc{
  border-bottom: 2px solid #1ca7f7;
  min-height: 40vh;
  
}
.commentSng{
  display: flex;
}
.submit-btn{
  border-style: none;
}
.hidden{
  display:none;
}
.post-title{
  margin-top: 10px;
}