<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Leaderboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="offcanvas.css" rel="stylesheet">
    {% load static %}
    <link href="{% static 'leaderboard/style1.css' %}" rel="stylesheet">
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-md  navbar-dark broda">
        <a class="navbar-brand" href="#">BugsOut</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="feed">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="add-new-bug">Add New Bug</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="leaderboard">Leaderboard</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET" action="sign-out">
                <button class="btn my-2 my-sm-0 dingo" type="submit">Logout</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="content">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#
                        </th>
                        <th scope="col">Username</th>
                        <th scope="col">Rating</th>
                        <th scope="col">No. of Submissions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for count,k in users %}
                    <tr>
                        <th scope="row">{{ count }}</th>
                        <td>{{ k.0 }}</td>
                        <td>{% if k.2 < 1.0 %}
                            Newbie
                            {% elif k.2 >= 4.0 %}
                            Master
                            {% elif k.2 < 4.0 and k.2 > 3.0  %}
                            Expert
                            {% elif k.2 < 3.0 and k.2 > 2.0 %}
                            Specialist
                            {% elif k.2 < 2.0 and k.2 > 1.0 %}
                            Pupil
                        {% endif %}
                        </td>
                        <td>{{ k.1 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script src="offcanvas.js"></script>
    <script src="{% static 'my-post/rating.js' %}"></script>
</body>

</html>